[Unit]
Description=GeoIP Whitelist using IPSet
After=network-online.target iptables.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/geoip-block-ipset create
ExecStop=/usr/libexec/geoip-block-ipset delete
